.body {
  
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: #fff;
}

.text-title {
  width: 100%;
  padding: 0px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4cbcd0;
}

.card-contents {
  padding: 0;
}

.port-list {
  display: inline-block;
  font-size: 20pt;
  color: #333;
  margin-right: auto;
  margin-left: auto;
}

.col {
  padding: 0;
}

.col > div {
  border: 0.1px solid;
}

.name > p {
  font-weight: bold;
  font-size: 15px;
}

p {
  display: block;
  margin: 0;
  font-size: 3pt;
}

.week {
  font-size: x-large;
  padding: 0;
}

